# To make git recognize your global gitignore, run:
#     git config --global core.excludesfile '~/.gitignore'

.DS_Store
.dev_version_suffix
.bamboo_version
junit-py27.xml

*.ipynb
*.pyc
*.swp
*.swo
*.swn
*.swm

.cache/
.eggs/
.idea
.ipynb_checkpoints/
.tox/
build/
dist/
src/
tmp/
tests/__pycache__/
*.egg-info/
